Source: wingpanel-indicator-sound
Section: x11
Priority: optional
Maintainer: elementary LLC <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               gobject-introspection,
               libaccountsservice-dev,
               libcanberra-dev,
               libcanberra-gtk3-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.12),
               libnotify-dev,
               libpulse-dev,
               libwingpanel-2.0-dev,
               libxml2-utils,
               meson,
               valac (>= 0.28)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/wingpanel-indicator-sound

Package: wingpanel-indicator-sound
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: wingpanel
Description: WingPanel Sound Indicator
 WingPanel Sound Indicator
