Source: wingpanel-indicator-sound
Section: x11
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: cmake,
               debhelper (>= 9),
               libaccountsservice-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.12),
               libpulse-dev,
#               libpulse-mainloop-glib-dev,
               libwingpanel-dev,
               valac (>= 0.24)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/wingpanel-indicator-sound

Package: wingpanel-indicator-sound
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: wingpanel
Description: WingPanel Sound Indicator
 WingPanel Sound Indicator

Package: wingpanel-indicator-sound-dbg
Architecture: any
Section: debug
Priority: extra
Depends: wingpanel-indicator-sound (= ${binary:Version}), ${misc:Depends}
Enhances: wingpanel-indicator-sound
Description: WingPanel Sound Indicator (debugging symbols)
 WingPanel Sound Indicator
 .
 This package contains debugging symbols for wingpanel-indicator-sound.
