/*
 * SPDX-License-Identifier: GPL-2.0-or-later
 * SPDX-FileCopyrightText: 2019-2023 elementary, Inc. (https://elementary.io)
 */

.composited-indicator levelbar.horizontal block {
   min-height: 4px;
}

.composited-indicator levelbar.horizontal trough {
    box-shadow:
        0 0 2px alpha(black, 0.3),
        0 1px 2px alpha(black, 0.6);
    min-width: 64px;
}

.composited-indicator levelbar block.filled {
    background: white;
}

.composited-indicator levelbar block {
    background: alpha(white, 0.35);
    border: none;
    box-shadow: none;
}

.mic-icon {
    animation: none;
    min-width: 24px;
    opacity: 1;
    transition: none;
    -gtk-icon-source: -gtk-icontheme("indicator-microphone-symbolic");
}

.mic-icon.disabled {
    animation: microphone-disabled 160ms cubic-bezier(0.4, 0.0, 0.2, 1);
    -gtk-icon-source: -gtk-icontheme("indicator-microphone-muted-symbolic");
}

@keyframes microphone-disabled {
    0% { -gtk-icon-source: -gtk-icontheme("indicator-microphone-symbolic"); }
    10% { -gtk-icon-source: -gtk-icontheme("indicator-microphone-muted-10-symbolic"); }
    20% { -gtk-icon-source: -gtk-icontheme("indicator-microphone-muted-20-symbolic"); }
    30% { -gtk-icon-source: -gtk-icontheme("indicator-microphone-muted-30-symbolic"); }
    40% { -gtk-icon-source: -gtk-icontheme("indicator-microphone-muted-40-symbolic"); }
    50% { -gtk-icon-source: -gtk-icontheme("indicator-microphone-muted-50-symbolic"); }
    60% { -gtk-icon-source: -gtk-icontheme("indicator-microphone-muted-60-symbolic"); }
    70% { -gtk-icon-source: -gtk-icontheme("indicator-microphone-muted-70-symbolic"); }
    80% { -gtk-icon-source: -gtk-icontheme("indicator-microphone-muted-80-symbolic"); }
    90% { -gtk-icon-source: -gtk-icontheme("indicator-microphone-muted-90-symbolic"); }
    100% { -gtk-icon-source: -gtk-icontheme("indicator-microphone-muted-symbolic"); }
}

player-row .image-button.circular {
    border: none;
    box-shadow: none;
    min-height: 2.1666rem; /* 26px */
    min-width: 2.1666rem; /* 26px */
}

player-row .image-button:not(:focus).circular {
    background: alpha(@text_color, 0.1);
}

player-row .image-button:disabled.circular {
    background: @insensitive_bg_color;
}
