/*
* SPDX-License-Identifier: GPL-2.0-or-later
* SPDX-FileCopyrightText: 2023 elementary, Inc. (https://elementary.io)
*/

.image-button.circular {
    border: none;
    box-shadow: none;
    padding: 0.75rem;
}

.image-button:not(:focus).circular {
    background: alpha(@text_color, 0.1);
}

.image-button:disabled.circular {
    background: @insensitive_bg_color;
}
