name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    
    container:
      image: elementary/docker:unstable
    
    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        apt update
        apt install -y libcanberra-gtk3-dev libgranite-dev libglib2.0-dev libgtk-3-dev libnotify-dev libpulse-dev libwingpanel-2.0-dev libxml2-utils meson valac
    - name: Build
      env:
        DESTDIR: out
      run: |
        meson build
        ninja -C build
        ninja -C build install
